name: Manual Approval Test Workflow

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate build
        run: |
          echo "Building project..."
          sleep 3
          echo "Build complete!"

  approval:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          approvers: menotthakur  # put your own username

  deploy:
    needs: approval
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: |
          echo "Deploying project..."
          sleep 2
          echo "Deployment complete!"
